@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');  

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

/* ==================== [ Global Variables ] ==================== */

:root {
  /* Fonts */
  --primary-font: "Aclonica";
  --secondary-font: "Artifika";

  /* Solid Colors */
  --white: #FFFFEA;
  --black: #2E3200;
  --primary-color: #D4D55F;
  --secondary-color: #B1B447;
  --terciary-color: #6C7318;

  /* Others Colors */
  --btn-highlight-shadow-color: #ffffeb80;
  --btn-shadow-color: #2e320040;
  --btn-invisible-border-color: #ffffeb03;
  --terciary-color-degrade: linear-gradient(90deg, rgba(108,115,24,1) 50%, rgba(0,0,0,0) 100%);
}

* {
  transition: all ease .2s;
  color: var(--black);
  font-family: var(--secondary-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}
a {
  position: relative;
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--primary-color);
}
a::before {
  transition: all ease .2s;
  content: " ";
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: -6px;
  border-radius: 12px;
  background: var(--black);
}
a:hover::before {
  opacity: 1;
  width: 100%;
  left: 0;
  background: var(--primary-color);
}

button {
  display: flex;
	align-items: center;
	justify-content: center;
  padding: 1rem;
  gap: 1rem; 
  border: none;
  /* box-shadow: inset 0px 1px var(--whivvvvvvvvte); */
  outline: solid 0px 2px 2px 2px 2px 2px var(--btn-shadow-color);
  border-radius: 7px;
  font-family: var(--primary-font);
  color: var(--terciary-color);
  background: var(--primary-color);
  box-shadow: 0 4px 6px 0 var(--btn-shadow-color);
} 
button:hover {
  cursor: pointer;
  box-shadow: none;
  outline: solid 3px var(--primary-color);
  outline-offset: 3px;
  color: var(--primary-color);
  background: var(--terciary-color);
}
button:active {
  color: var(--terciary-color);
  outline: solid 0px 2px 2px 2px 2px 2px var(--btn-shadow-color);
  background: var(--black);
}

.fa-solid {
  color: var(--terciary-color);
}
button:hover .fa-solid, a:hover .fa-solid, .fa-solid:hover {
  color: var(--primary-color);
}
button:active .fa-solid, a:active .fa-solid, .fa-solid:active {
  color: var(--terciary-color);
}

.secBtn {
  cursor: pointer;
  box-shadow: none;
  outline: solid 3px var(--terciary-color);
  /* outline-offset: 3px; */
  color: var(--terciary-color);
  /* background: transparent; */
  background: var(--btn-invisible-border-color);
}


body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background: var(--white);
}
